/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; 
}

div.container {
    max-width: 80em;
    margin: auto;

}

body{
    background-color:#fafafa;
}
header {
    color:#fafafa;
    background-color:#fafafa;
    margin-left: auto;
    margin-right: auto;   
}

h2{
    color:#88CB48;
    background-color:#fafafa;
    padding:2rem; 
    font-family:lucida, serif;
    font-weight: 250;  
    font-style: bold;
    font-size:1.5rem;
    text-transform:uppercase;
}

h3 {
    color:#1e1e1e;
    font-family:arpona, sans-serif;
    font-weight: 400;  
    font-style: thin;
    font-size: 1.5rem;
    margin: 0.1rem;
    padding-bottom:1rem;
}

h4 {
    color:#1e1e1e;
    font-family:arpona, sans-serif;
    font-weight:100;  
    font-style: bold;
    font-size: 1.5rem;
    margin: 0.1rem;
    padding-bottom:1rem;
    padding-left:2rem; 
}

p.about{
    padding-left:2rem; 
    padding-right: 2rem;
    font-family:arpona, sans-serif;
    font-style: thin;
    padding-bottom: 3rem;
}

p.description{
    font-family:arpona, sans-serif;
    font-style: italic;
    padding-bottom: 1rem;
}

p.price{
    font-family:arpona, sans-serif;
    font-style: thin;
    padding-bottom: 0.5rem;
}

p.location{
    padding-left:2rem; 
    font-family:arpona, sans-serif;
    font-style: thin;
    padding-bottom: 1.5rem;
}
ul {
    list-style:solid circle;
    color: #1e1e1e;
    font-family:arpona, sans-serif;
    font-weight: 300;  
    font-style: thin;
    line-height:1rem;
    margin:0.1rem;
    list-style: none;
    padding:.5rem 2rem 1rem;   
}

li{
    padding-bottom: 1.5rem;
}

nav ul{
    padding:1rem;
    text-align: center; 
    background-color: #88CB48 
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 3rem;
    font-family:lucida, serif;
    font-weight: bold;
    font-size: rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding:3rem 1.5rem 2rem; 
}

nav ul li a{
    color: #fafafa;
    text-decoration: none;
}

nav ul li a:hover{
    color:#1e1e1e;
}

footer{
    background-color:#88CB48;
    padding:1.5rem 2rem 1.5rem; 
    color:rgb(251,250,250);
    font-family:arpona, sans-serif;
    font-weight: 2.5rem;  
    font-style: thin;
}