/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; 
    display:block;
}

div.container {
    max-width: 90em;
    margin: auto;
    background-color:rgb(251,250,250);
}

body{
    background-color:#fafafa;
}


header {
    background-color:#fafafa;
    margin-left: auto;
    margin-right: auto; 
}

h2{
    color:#88CB48;
    padding: 0.5em; 
    font-family: quiche-text,sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
    font-size:1.5rem;
    text-transform:uppercase;
}

h3 {
    color:#1e1e1e;
    font-family: arpona, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-bottom:1rem;
    padding-left:0.5em;
}

h4 {
    color:#1e1e1e;
    font-family: arpona, serif;
    font-weight: 300;
    font-style: bold;
    font-size: 1.5rem;
    padding-left: 0.5em;
    padding-bottom:1rem;

}

.about{
    padding:0.5em; 
    font-family: arpona, serif;
    font-weight: 300;
    font-style: normal;
}

.description{
    font-family: arpona, serif;
    font-weight: 300;
    font-size:1rem;
    font-style: normal;
    padding-bottom: 1rem;
    padding-left:0.5em; 
}

.price{
    font-family: arpona, serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 0.5rem;
    font-size:1rem;
    padding-left:0.5em; 
}

.location{
    color:#88CB48;
    padding: 0.5em; 
    font-family: quiche-text,sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
    font-size:1.5rem;
    text-transform:uppercase;
}
.contact{
    padding: 0.5em; 
    font-family: arpona, serif;
    font-weight: 300;
    font-style: normal;
}
ul {
    list-style:solid circle;
    color: #1e1e1e;
    font-family: arpona, serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
    line-height:1rem;
    list-style: none;
}

li{
    padding-bottom: 1.5rem;
}

nav ul{
    padding: 2rem;
    text-align: left; 
    background-color: #88CB48 
}

nav ul li{
    display: -moz-inline-stack;
    list-style-type: none;
    font-family: quiche-text,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding:0.5rem; 
}

nav ul li a{
    color: #fafafa;
    text-decoration: none;
}

nav ul li a:hover{
    color:#1e1e1e;
}


footer{
    background-color:#88CB48;
    color:rgb(251,250,250);
    font-family:arpona, sans-serif;
    font-weight: 2.5rem;  
    font-style: light;
    padding:1.5rem 2rem 1.5rem; 
}

  
@media screen and (min-width: 40em){
    div.container{
        max-width:100%;
        display: grid;
        grid-template-columns:90% auto;
        grid-column: 1/2;
        grid-template-rows: auto;
        grid-row: 2/3;
    }
    section{
        display: block;
    }
    
    nav ul{
        text-align: center; 
    }

    nav ul li{
        display: inline;
        padding:4rem 2rem 4rem; 
    }

    .grid-container-element { 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-column: 1/2;
        grid-gap:1.5rem 2rem 1.5rem;
    } 

    .center {
        display: block;
        padding-left: 5rem;
        padding-right: 5rem;
      }

      .location{
        padding-left:5rem;
      } 
    
      .contact{
        padding-left:5rem; 
      }
    
      header, footer{
       grid-column: 1/3;
    }
}

