/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

body {
	background-color:rgb(251,250,250);
    padding:0.5rem 1rem .1rem;   

}


h1 {
    color:rgb(251,250,250);
    background-color: rgb(239,142,52);
    padding:2rem 1rem .1rem; 
    font-family:Sutro, serif;  
    font-weight:600;
    font-size: 3rem;  
    font-style:normal;
}

h2 { 
    color:rgb(250,222,191);
    background-color: rgb(239,142,52);
    padding: 0.5rem 1rem 1.5rem; 
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    font-size:1.5rem;


}


figcaption{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    font-size: 1rem;
    padding:1rem 1rem .1rem; 
    list-style:2rem;  
    line-height:1.5rem;
}


h3 {
    color:rgb(239,142,52);
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    font-size: 1.5rem;
    padding:2rem 1rem .5rem;
    text-transform:uppercase;   

}

 ul {
    list-style:solid circle;
    color: rgb(0,0,0);
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding:.5rem 1rem .5rem;
    line-height:1rem;
}
    

ol {
    list-style-type:decimal;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    list-style-type: style type numbered;
    padding:.5rem 1rem 2rem;   
    line-height:1.5rem;
}

li{
    padding-bottom: 1.5rem;
}

footer{
    background-color: rgb(239,142,52);
    padding:1rem 1rem .1rem; 
    color:rgb(251,250,250);
    font-family: poppins, sans-serif;  
    font-weight: 2.5rem;  
    font-style: normal;

}


/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

