/*CSS document*/

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
	width: 100%;
	display: block;
}

body {
	background-color:  rgb(251, 250, 250); 
	color: rgb(51, 51, 51); 
	line-height: 140%; 	
	font-family: sans-serif;
}

h1 {
	background-color: rgb(153, 153, 168);
	color:rgb(251, 250, 250); 
	font-size: 1.5 rem;
	padding:  2 rem 1 rem 1 rem; 
	font-weight:bold;
	text-transform:uppercase;
}


h1 span { 	
	font-family: serif;
	font-style: italic;
	font-weight: bold;
	text-transform: lowercase;
}

h2 {
	background-color:rgb(154, 153, 168);
	color: rgb(251, 250, 250);
	font-size:1.25 rem;
	padding:1 rem;
	font-family:serif;
	font-weight:bold;
}

h3 {
	margin:1 rem 0.1 rem 1 rem; 
	padding-top:1 rem;
	font-size:3 rem;
	color:rgb(172, 50, 43) ;
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing:0.1 rem;
	border-top:1 rem 0.1 rem 1 rem;
}

h4 {
	font-weight:bold;
}

p.description {
	font-style:italic;
}

p.price {
	color:rgb(172, 50, 43);
}

ul {
	margin:1 rem 0.1 rem 1 rem;
    list-style: none;
}

li { 
	margin:1 rem 1 rem;
}

hr {
    color: rgb(172, 50, 43);
    margin-top: 0.5 rem;
    margin-bottom: 0.5 rem;
    margin-left: auto;
    margin-right: auto;
    border-width: 3 px;
}
